.input-group #image_preview {
  margin-top: 0px !important;
  border: 1px solid #ddd;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
  border-right: 0;
  width: 38px;
  height: 38px;
  border-radius: .25rem 0 0 .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group #image_preview img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
.form-control .form-control {
  position: absolute;
  left: 0;
  top: 0;
}
.form-group.input-group {
  margin-bottom: 15px;
}
.rounded-circle.bg-primary {
  height: 110px;
  width: 110px;
}
.dataTables_length {
  float: left;
}
.dataTables_filter input {
  color: #ffffff;
  background-color: rgb(0 0 0 / 15%);
  border: 1px solid rgb(255 255 255 / 15%);
  border-radius: 30px;
  padding: 10px 10px;
  outline: 0 !important;
  box-shadow: none !important;
}
.dataTables_filter {
  margin-bottom: 15px;
}
.dataTables_length select {
  padding: 10px 10px;
  color: #000000;
  background-color: rgb(255 255 255 / 15%);
  border-color: rgb(255 255 255 / 35%);
  border-radius: 30px;
  outline: 0;
  border: 0;
  margin: 0 10px;
}
.btn-primary {
  color: #fff;
  background-color: rgb(255 255 255 / 15%);
  border-color: rgb(255 255 255 / 35%);
  height: 38px;
  line-height: unset;
  display: flex;
  align-content: center;
  justify-content: center;
}
.btn-primary:hover {
  color: #fff;
  background-color: rgb(255 255 255 / 20%);
  border-color: rgb(255 255 255 / 40%);
}
.btn-light {
  height: 38px;
}
.btn-primary i, .btn-light i {
  margin-top: -3px;
  margin-bottom: 0;
}

.wrapper {
   min-height: calc(100vh - 96px);
}

.dataTables_wrapper div.dataTables_info {
  display: flex;
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0 !important;
}
.dataTables_wrapper div.dataTables_paginate {
  margin-top: 10px;
  float: right;
}
.parsley-errors-list {
  margin-bottom: 0 !important;
  padding-left: 0;
  list-style: none;
  color: #f00;
}
select.form-control, .select2-container--default .select2-selection--multiple {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  appearance: none;
  border-radius: .375rem;
  background-color: rgb(0 0 0 / 15%) !important;
  border: 1px solid rgb(255 255 255 / 15%) !important;
}

select.form-control option {
  color: #000 !important;
}

